
.maincontainer {
    background-image: linear-gradient(#e9defa, #fbfcdb);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100dvh; 
}
